.InsertCoupons{
   
    height: 100%;
    width: 100%;
    background-color: powderblue;
}
.InsertCoupons form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
}
.InsertCoupons form >*{
    font-size: small;
}
